<ion-view view-title="">
  <ion-nav-title>Meus Endereços</ion-nav-title>
  <ion-content style="background-color:#EAF3D2" overflow-scroll=”true”>

    <ion-list>
      <div class="item item-divider">Endereços Cadastrados</div>
      <ion-item ng-repeat="local in enderecos" class="listppe cardppe" style="background-color:#FBFBFB;height:42px;padding:5px;">
          &nbsp;
    	 		<i class="icon ion-home" style="color:{{local.color}};font-size:25px;"></i><a style="font-size:12px;">&nbsp;&nbsp;&nbsp;{{ local.title }}</a>
          <div style="position:absolute;left:295px;top:21px;">


            <button class="button button-small button-calm" ng-click="showAlert('Definir posicao atual')" style="height:26px;width:26px;top:-16px;left:-88px">
              <i class="icon ion-location"> </i>
            </button>

            <button class="button button-small button-stable" ng-click="showAlert('Remover Temporariamente')" style="height:26px;width:26px;top:-16px;left:-86px">
              <i class="icon ion-pause"> </i>
            </button>

            <button class="button button-small button-assertive" ng-click="showAlert('Excluir Endereço')" style="width:30px;top:-16px;left:-84px">
              <i class="icon ion-trash-a"> </i>
            </button>

          </div>

      </ion-item>

      <div style="padding:2px">
        <center>
          <button class="button button-block button-balanced" ng-click="login()" style="width:90%;">
      	  	&nbsp;&nbsp;&nbsp;&nbsp;Incluir Novo Endereço&nbsp;&nbsp;&nbsp;&nbsp;
      	  </button>
        </center>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
