<ion-view view-title="">
  <ion-nav-title>Home</ion-nav-title>

  <ion-header-bar class="bar-subheader item-input-inset" style="background-color:#11c1f3">

      <!--<button class="button button-clear" style="color:lightgrey;"><a style="font-size:12px;"> Cancel </a></button>-->

  </ion-header-bar>

  <ion-content style="background-color:#D2E5F3" overflow-scroll=”true”>
    <div>

      <label class="item-input-wrapper">
       <i class="icon ion-search placeholder-icon"></i>
  
        <input style="font-size:12px;" type="search" placeholder="Produto ou Serviço" ng-model="query" ng-change="search()" >
      </label>


<div>
  <ul ng-repeat="user in allusers">
    <li>{{user.name}}</li>

  </ul>
</div>


  </ion-content>
</ion-view>
