<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">

      <ion-nav-back-button>
        <i class="icon ion-arrow-left-c"></i>
      </ion-nav-back-button>

      <ion-nav-buttons side="primary">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="color:#07ED2F">
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="secondary">
        <button class="button button-icon button-clear ion-gear-a" ng-click="preferences()" style="color:#07ED2F;">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content style="padding:5px;">
      <div style="background-color:#11c1f3">
        <div style="padding:10px">
          <img ng-src="img/avatar.png" width="30" height="30">
        </div>
        <div style="position:absolute; top:4px; left:55px;color:#FFFFFF;">
          <font size="3"><b>José Maria da Silva</b></font><br>
          <a ng-click="showAlert()"><i class="icon ion-location"></i></a>
          <font size="1"><b>Centro da cidade - RJ</b></font><br>
        </div>
      </div>

      <div class="list">
        <a class="item item-icon-left" menu-toggle nav-clear href="#/app/playlists">
          <i class="icon ion-search"></i>
          Buscar 
        </a>

        <a class="item item-icon-left" menu-toggle nav-clear href="#/app/seguindo">
          <i class="icon ion-paper-airplane"></i>
          Seguindo<span class="badge badge-assertive" href="#">3</span>
        </a>

        <a class="item item-icon-left" ng-click="login()">
          <i class="icon ion-earth"></i>
          Meus endereços
        </a>

        <a class="item item-icon-left" ng-click="login()">
          <i class="icon ion-settings"></i>
          Preferências
        </a>

        <a class="item item-icon-left" ng-click="login()">
          <i class="icon ion-chatbubbles"></i>
          Fale Conosco
        </a>

        <a class="item item-icon-left" ng-click="login()">
          <i class="icon ion-help-circled"></i>
          Ajuda
        </a>
        <a class="item item-icon-left" menu-toggle="left">
          <i class="icon ion-close"></i>
          Fechar
        </a>


      </div>

      <br>
      <br>

      <ion-list>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
