
/* Empty. Add your own CSS if you like */
.bar.bar-calm-p {
  border-color: #0a9ec7;
  background-color: #F311EA;
  background-image: linear-gradient(0deg, #0a9ec7, #0a9ec7 50%, transparent 50%);
  color: #fff; }
  .bar.bar-calm .title {
    color: #fff; }
  .bar.bar-calm.bar-footer {
    background-image: linear-gradient(180deg, #0a9ec7, #0a9ec7 50%, transparent 50%); }

A{text-decoration:none}

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

/**
 * Items Produtos
 * --------------------------------------------------
 */
.itemppp {
  border-color: #07ED2F;
  background-color: #F8FFF8;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: 1px; 
  padding: 0px;
  border-width: 1px;
  border-style: none;
  font-size: 16px; }

/**
 * Items Servicos
 * --------------------------------------------------
 */
.itempps {
  border-color: #07ED2F;
  background-color: #11c1f3;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: 1px; 
  padding: 0px;
  border-width: 1px;
  border-style: none;
  font-size: 16px; }


#rcorners6 {
    border-radius: 15px 50px;
    background: #8AC007;
    padding: 20px; 
    width: 200px;
    height: 150px; 
} 

/**
 * List Enderecos
 * --------------------------------------------------
 */
.listppe {
  position: relative;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 0;
  margin-bottom: 0px; }

/**
 * Card Enderecos
 * --------------------------------------------------
 */
 .cardppe, .list-inset {
  overflow: hidden;
  margin: 8px 12px;
  border-radius: 2px;
  background-color: #fff; }


  .item-dividerppya {
  padding-top: 4px;
  padding-bottom: 4px;
  min-height: 24px;
  background-color: #f5f5f5;
  color: #222;
  font-weight: 500; }

input[type="range"]{
  -webkit-appearance:none;
  width:200px;
  margin: 0px;
}

input[type="range"]::-webkit-slider-thumb{
  width:34px;
  height:34px;  
  border-radius: 100%;
  background: #434343;
  border: 3px solid aquamarine;
  cursor: pointer;
}